@import './theme.css';

html { 
  font-size: 62.5%; /* 1 rem = 10 px */
}

body { 
  font-family: var(--font-body); 
  font-size: clamp(1.4rem, 1vw + 0.4rem, 2rem); 
  line-height: 1.5; 
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3 { 
  font-family: var(--font-head); 
  font-weight: 700; 
  margin: 0; 
  font-size: clamp(1.8rem, 1.5vw + 0.5rem, 3.2rem);
}

p, .text-content {
  margin-block: 8px 0;
}

section, .section {
  margin-block: 16px 0;
}