
header{display:flex;flex-direction:column;row-gap:4px;margin:24px 16px;}
h1{font:700 clamp(2.4rem,3vw,3.2rem)/1 var(--font-head);margin:0;color:var(--black);}
.time{font:400 1.6rem var(--font-body);color:var(--black);}
.pill{border-radius:50%;width:64px;height:64px;
      display:flex;flex-direction:column;justify-content:center;align-items:center;
      font:700 1.4rem var(--font-head);color:var(--white);}
.weather{background:var(--teal);}
.notif{background:var(--pink);}
@media(min-width:768px){
  header{flex-direction:row;align-items:center}
  .pill{margin-left:16px;}
}
